inline-block-logo{
    text-align: center;
}
h1{
    font: playfair display;
    font-size: larger;
    width: 100%;
    padding: 1%;
    font-size: 40px;
    text-align: center;
    color:#DB636F;
}
h2{
    font: playfair display;
    font-size: larger;
    width: 100%;
    padding: 1%;
    font-size: 30px;
    text-align: center;
}
li{
    text-align: center;
    font-size: 20px;
    vertical-align: top;
}
nav{
    font-size: 22px;
    
}
ul{
    width: 73%;
    padding: 1%;
    margin-left: auto;
}
button{
    background-color: #DB636F;
    font: Playfair Display;
    margin-bottom: auto;
    width: 10%;
    height: 40%;
    font: Playfair display;
}
section{
    height: 600px;
    padding: 25px;
}
content{
padding: 50%;
background-color:#FBF1F4;
width: auto;

}
footer{
    background-color: #D57176 ;
    text-align: center;
}
div{
    display: flex 33% 33% 33%;
    padding: 1%;
    margin-top: auto;
}
img{
    align-content: center;
    border: grey;
    background-color: grey;
}