.inline-block-logo{
    text-align: center;
}
h1{
    font: playfair display;
    font-size: larger;
    width: 100%;
    padding: 1%;
    font-size: 40px;
    text-align: center;
    color:#DB636F;
}
h2{
    font: playfair display;
    font-size: larger;
    width: 100%;
    padding: 1%;
    font-size: 30px;
    text-align: center;
}
li{
    text-align: center;
    font-size: 20px;
    vertical-align: top;
    word-break: normal;
}
nav{
    font-size: 22px;
    
}
ul{
    width: 73%;
    padding: 1%;
    margin-left: auto;
}
button{
    background-color: #DB636F;
    font: Playfair Display;
    margin-bottom: auto;
    width: 10%;
    height: 40%;
    font: Playfair display;
}
.myWork{
    height: 600px;
    padding: 25px;
    background-color: #FBF1F4 ;
}
.herolmg{
    background-color: #fbf1f4;
}
div{
    display: flex 33% 33% 33%;
    padding: 1%;
    margin-top: auto;
}
img{
    align-content: center;
    border: grey;
    background-color: grey;
}
.myWork {
    padding: 60px 30px;
    padding-top: 0;
    background-color: #EBEBEB;
  }
  .workGrid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 350px 350px 350px;
    grid-template-areas:
    "img1 content1"
    "img2 content2"
    "img3 content3"
    ;
  }
  .workGrid img {
    width: 100%;
    max-width: 250px;
    margin: 0 auto;
    display: block;
  }
  .img1 {
    grid-area: img1;
  }
  .img2 {
    grid-area: img2;
  }
  .img3 {
    grid-area: img3;
  }
  .img1, .img2, .img3, .content1, .content2, .content3 {
    padding: 80px;
  }
  .content1 {
    grid-area: content1;
  }
  .content2 {
    grid-area: content2;
  }
  .content3 {
    grid-area: content3;
  }
